h1 {
    color: red;
    font-family: 'Gill Sans','Trebuchet MS', sans-serif;
    text-decoration: underline;
    font-size: 36px;
}

h2 {
    text-decoration: underline;
    font-size: 24px;
}

p {
    font-size: 18px;
}

img {
    height: 300px;
    width: 500px;
}